<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792986977125-ueu83le0jl5q4pvr3msg7fnut63anjh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792986977125-ueu83le0jl5q4pvr3msg7fnut63anjh9</string>
	<key>API_KEY</key>
	<string>AIzaSyDaAP42tHBo8RaPDruva7GUxZLX5WLlwzA</string>
	<key>GCM_SENDER_ID</key>
	<string>792986977125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>triple.solution.coupons</string>
	<key>PROJECT_ID</key>
	<string>coupons-afdbb</string>
	<key>STORAGE_BUCKET</key>
	<string>coupons-afdbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792986977125:ios:7997fe6d0c85fe8ebd978c</string>
	<key>DATABASE_URL</key>
	<string>https://coupons-afdbb.firebaseio.com</string>
</dict>
</plist>